@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1b1b1f;

    --card: #ffffff;
    --card-foreground: #1b1b1f;

    --popover: #ffffff;
    --popover-foreground: #1b1b1f;

    --primary: #1f2a37;
    --primary-foreground: #f6f8fa;

    --secondary: #e3e9f1;
    --secondary-foreground: #1f2a37;

    --muted: #e3e9f1;
    --muted-foreground: #758195;

    --accent: #e3e9f1;
    --accent-foreground: #1f2a37;

    --destructive: #d53030;
    --destructive-foreground: #f6f8fa;

    --border: #c9d4e3;
    --input: #c9d4e3;
    --ring: #1b1b1f;

    --radius: 0.5rem;

    --sidebar-background: #fafafa;
    --sidebar-foreground: #424851;
    --sidebar-primary: #1a1c1f;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #f2f3f5;
    --sidebar-accent-foreground: #1a1c1f;
    --sidebar-border: #d1dbe1;
    --sidebar-ring: #3178c6;
  }

  .dark {
    --background: #1b1b1f;
    --foreground: #f6f8fa;

    --card: #1b1b1f;
    --card-foreground: #f6f8fa;

    --popover: #1b1b1f;
    --popover-foreground: #f6f8fa;

    --primary: #4684d9;
    --primary-foreground: #1f2a37;

    --secondary: #2c3a4a;
    --secondary-foreground: #f6f8fa;

    --muted: #2c3a4a;
    --muted-foreground: #a3b1c7;

    --accent: #2c3a4a;
    --accent-foreground: #f6f8fa;

    --destructive: #5c1010;
    --destructive-foreground: #f6f8fa;

    --border: #2c3a4a;
    --input: #2c3a4a;
    --ring: #d0d9ec;

    --sidebar-background: #1a1c1f;
    --sidebar-foreground: #f2f3f5;
    --sidebar-primary: #3b8be6;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #22252b;
    --sidebar-accent-foreground: #f2f3f5;
    --sidebar-border: #22252b;
    --sidebar-ring: #3178c6;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html,
  body {
    overflow-x: hidden;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-out forwards;
}
